* text=auto eol=lf

*.png binary
*.jpg binary
*.woff binary
*.woff2 binary

# Not needed in the published package.
/test export-ignore
/scripts export-ignore
/.github export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CONTRIBUTING.md export-ignore
